<!DOCTYPE html>
<html>
<head>
  <title>Gamenight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='clearfix'>
    <span><%= link_to "Home", games_path %></span>
    <span><%= link_to "Add a Game", new_game_path %></span>
    <% if current_user %>
      <span><%= link_to "Edit Profile", edit_user_path(current_user) %></span>
    <% end %>
    <ul class="hmenu">
      <%= render 'devise/menu/login_items' %>
    </ul>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
